<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	<a class="navbar-brand" href="/">{{get_name}}</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div id="navbar" class="navbar-collapse collapse">
		<ul class="navbar-nav ml-auto">
			{{#if user}}
				<li class="nav-link"><a href="/account">Account</a></li>
			{{else}}
				<li><a class="btn btn-dark" href="/login" role="button">Login</a></li>
			{{/if}}
		</ul>
	</div>
</nav>
