<div class="container">

	<div class="starter-template">
		<h1>{{get_name}}</h1>
		<p class="lead">{{get_name}} is the best choice for starting a Koa project!	You know, as long as you don't mind me making some awesome choices for you.</p>
	</div>

</div><!-- /.container -->
