<div class="jumbotron">
	<div class="container">
		<h1 class="display-3">{{get_name}}</h1>
		<p>{{get_name}} is the best choice for starting a Koa project!	You know, as long as you don't mind me making some awesome choices for you.</p>
	</div>
</div>
