<div class="container site-header">
	<div class="card">
	  <div class="card-body">
			<h1 class="display-3">Login</h1>
			<a class="btn btn-block btn-social btn-lg btn-github" href="/auth/github">
				<span class="fa fa-github"></span>
				Sign in with Github
			</a>
			<br>
			<a class="btn btn-block btn-social btn-lg btn-openid" href="/auth/auth0">
				<span class="fa fa-star"></span>
				Sign in with Auth0
			</a>
	  </div>
	</div>
</div>
