html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
  padding-top: 50px;
}
body > .container {
  padding: 60px 15px 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 40px;
  padding-left: 40px;
}

.template-heading {
  padding: 40px 15px;
}

.clickable-row {
  cursor: pointer;
}

.fine-print {
  color: #777;
}

.footer-link {
  color: #777;
}
